.App {
  min-height:100vh;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
}

body {
  background-color:darkslategray
}


.Calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  background-color: #CCC;
  height:700px;
  width:400px;
  border-radius: 10px;
  font-weight:900;
  font-size:1.5em;
  z-index:100;
  border:1px solid #222;
}

.Calculator > div {
  display:flex;
  justify-content:center;
  align-items:center;
  border:1px solid #222;
}


#title {
  grid-column: 1 / span 4;
  background-color:lightgoldenrodyellow;
  border-radius:10px 10px 0px 0px;
}

#display-screen {
  grid-column: 1 / span 4;
  background-color:white;
  font-weight:400px;
  font-size:0.8em;
  justify-content: right;
  padding:0px 10px;
  display:flex;
  flex-direction: column;
}

#display-result, #display {
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content: right;
}

#clear {
  grid-column: 1 / span 2;
  background-color:lightsalmon;
}

#zero {
  grid-column: 1/ span 2;
}

#equals {
  grid-area: 6 / 4 / span 2 / span 1;
  background-color:lightseagreen;
}

#divide, #multiply, #subtract, #add {
  background-color:#999;
}